<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/avatar/logo.png')}}">
</head>

<body>
    <div class="titres">
        <p class="t1">Je m'enregistre</p>
    </div>

    <div class="formulaire-container">
        <div class="formulaire">
            <form action="{{ url_for('soumettre') }}" method="POST">
                <div class="input-with-icon">
                    <label for="nom"></label>
                    <span class="input-icon"> <i class="gg-user"></i> </span>
                    <input type="text" id="nom" name="nom" placeholder="Nom d'utilisateur" size="35" required>
                </div>
                <br>
                <br>
                <br>
                <div class="input-with-icon">
                    <label for="mdp"></label>
                    <span class="input-icon"> <i class="gg-key"></i></span>
                    <input type="password" name="mdp" id="mdp" placeholder="Mot de passe" size="35" required>
                </div>
                <br>
                <br>
                <div id="connect">
                    <button class="btn" id="conn2">S'enregistrer</button>
                </div>
            </form>
        </div>
        <div class="bouton-container">
            <a href="{{ url_for('connexion') }}"><button class="btn" id="register">S'authentifier</button></a>
        </div>
    </div>
    <img src="{{ url_for('static', filename='img/avatar/logo.png')}}" alt="Description de l'image" id="image-haut-droite">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

